
html {
    scrollbar-width: none;
}
    
body {
    /*background-image: linear-gradient(#bac9da, #bad9da);*/
    background-color: rgb(218, 218, 218);
    margin: 0;
    padding: 0;
}

#page-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; 
}

#titleBar-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#pageContent-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#pageContent-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    max-width: 50rem;
}


#colorBlock-flexbox {
    background-color: rgb(21, 21, 21);
    height: .5rem;
}

.main-image  {
    max-width: 18rem;
}

#mainImage-flexbox {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.main-link {
    color: rgb(45, 45, 45);
    font-family: 'Yuji Boku', serif;
    font-size: 1.2rem;
}

.main-link:hover {
    color: rgb(108, 108, 108);
    cursor: pointer;
}

#mainLink-grid {
    margin-top: 3rem;
}

.title-text {
    margin-top: 1rem;
    color:rgb(21, 21, 21);
    font-family: 'Yuji Boku', serif;
    text-align: center;
    letter-spacing: .5rem;
    font-size: 1.5rem;
}

#mainContent-flexbox {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    color:rgb(21, 21, 21);
    font-family:'Times New Roman', Times, serif;
    margin-right: 4rem;
}

/*links*/

 a:link {
    color: rgb(45, 45, 45);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(45, 45, 45);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(45, 45, 45);
    background-color: transparent;
  }
  
  a:active {
    color: rgb(45, 45, 45);
    background-color: transparent;
  }

  /* a b o u t*/

  #about-text {
    color: rgb(45, 45, 45);
    font-family: 'Yuji Boku', serif;
    font-size: 1.1rem;
  }