
html {
    scrollbar-width: none;
}
    
body {
    /*background-image: linear-gradient(#bac9da, #bad9da);*/
    background-color: rgb(218, 218, 218);
    margin: 0;
    padding: 0;
}

#page-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; 
}

#titleBar-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#pageContent-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5rem;
}

#pageContent-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    max-width: 50rem;
}


#colorBlock-flexbox {
    background-color: rgb(21, 21, 21);
    height: .5rem;
}

.main-image  {
    max-width: 18rem;
    height: auto;
}

#mainImage-flexbox {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.main-link {
    color: rgb(45, 45, 45);
    font-family: 'Yuji Boku', serif;
    font-size: 1.2rem;
}

.main-link:hover {
    color: rgb(108, 108, 108);
    cursor: pointer;
}

#mainLink-grid {
    margin-top: 3rem;
}

#home-link:hover a {
    color:rgb(108, 108, 108);
}

.title-text {
    margin-top: 1rem;
    color:rgb(21, 21, 21);
    font-family: 'Yuji Boku', serif;
    text-align: center;
    letter-spacing: .5rem;
    font-size: 1.5rem;
}

#mainContent-flexbox {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    color:rgb(21, 21, 21);
    font-family:'Times New Roman', Times, serif;
    margin-right: 4rem;
}

/*links*/

 a:link {
    color: rgb(45, 45, 45);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(45, 45, 45);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(45, 45, 45);
    background-color: transparent;
  }
  
  a:active {
    color: rgb(45, 45, 45);
    background-color: transparent;
  }

  /* a b o u t*/

  #about-text {
    color: rgb(45, 45, 45);
    font-family: 'Yuji Boku', serif;
    font-size: 1.1rem;
  }

  
/*M O B I L E -------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

#mobile-page-grid {
    display: none;
}

@media (max-width: 500px) {
 
    body {
        margin: 0;
        padding: 0;
        background-image: none;
        transition: 1s;
        overflow-x: hidden;
    }

    #page-grid {
        display: none;
    }

    #mobile-page-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        }   
}


#mobile-titleBar-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
}
#mobile-pageContent-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#mobile-pageContent-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}


#mobile-colorBlock-flexbox {
    background-color: rgb(21, 21, 21);
    height: .5rem;
}

.mobile-main-image  {
    max-width: 10rem;
    margin-left: -.7rem;
}

#mobile-mainImage-flexbox {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.mobile-main-link {
    color: rgb(45, 45, 45);
    font-family: 'Yuji Boku', serif;
    font-size: .9rem;
}

.mobile-main-link:hover {
    color: rgb(108, 108, 108);
    cursor: pointer;
}

#mobile-mainLink-grid {
    margin-top: 3rem;
}

#mobile-home-link {
    margin-top: 1rem;
    margin-bottom: 4rem;
}

#mobile-home-link:hover a {
    color:rgb(108, 108, 108);
}

.mobile-title-text {
    margin-top: 1rem;
    color:rgb(21, 21, 21);
    font-family: 'Yuji Boku', serif;
    text-align: center;
    letter-spacing: .5rem;
    font-size: 1.1rem;
}

#mobile-mainContent-flexbox {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    color: rgb(21, 21, 21);
    font-family: 'Times New Roman', Times, serif;
    margin-right: 3em;

}

#mobile-about-text {
    color: rgb(45, 45, 45);
    font-family: 'Yuji Boku', serif;
    font-size: .9rem;
    overflow-y: visible;
  }