html { 
    scrollbar-width: none; 
}
    
body {
    background-color: rgb(218, 218, 218);
    margin: 0;
    padding: 0;
    /*background-image: linear-gradient(#bac9da, #bad9da);*/
}

/*black bar at top of page*/ 
#colorBlock-flexbox {
    background-color: rgb(21, 21, 21);
    height: .5rem;
    width: 100%;
}

#title-text {
    font-family: 'Fira Code', monospace;
    /*font-family: 'FLow Circular', cursive;*/
    margin-right: 2rem;
    margin-top: 2rem;
}

.large-text {
    font-size: 3rem;
    font-family: 'Fira Code', monospace;
}

.small-text {
    font-size: 1.05rem;
    font-family: 'Fira Code', monospace;
}

.small-header-text {
    font-size: 1.5rem;
    font-family: 'Fira Code', monospace;
    font-weight: 600;
}

.smallest-header-text {
    font-size: 1.2rem;
    font-weight: 600;
}

.blank-large {
    display: block;
    width: 100%;
    height: 1rem;
}

.blank-small {
    display: block;
    width: 100%;
    height: .5rem;
}

.vertical-runner {
    display: block;
    background-color: #212121;
    width: .3rem;
    height: 35rem;
    align-self: center;
    border-radius: .5rem;
}

#page-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pageContent-flexbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
}

#sidebar-flexbox {
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 30rem;
    font-family: 'Fira Code', monospace;
    margin-top: 7rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 1.3rem;
    overflow-y: scroll;
}

#content-flexbox {
    display: flex;
    flex-direction: row;
    border:.3rem;
    border-width: .3rem .4rem .3rem .5rem ;
    border-radius: .5rem;
    border-color: #212121;
    border-style: solid;
    width: 65rem;
    height: 43rem;
    margin-top: 5rem;
    background-color: #dadada;
}

#posts-flexbox {
    display: flex;
    flex-direction: column;
    height: 45rem;
    width: 52rem;
    margin-left: 3rem;
}

#top-grid {
    display: grid;
    grid-template-columns: 50% 45%;
    grid-template-rows: 17rem;
    margin-top: 5rem;
}

#large-box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2rem auto 3.4rem;
    border-color: #212121;
    border-width: .3rem;
    border-radius: .5rem;
    border-style: solid;
    /*background-color: #212121;*/
}

#large-box-runner {
    display: grid;
    width: auto;
    height: 2rem;
    background-color: #212121;
}

#large-box-bottom-runner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.large-box-icon {
    display: block;
    width: 7rem;
    height: 1.5rem;
    background-color: #212121;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .3rem;
    padding-bottom: .1rem;
    border-radius: .5rem;
    border-width: .2rem;
    border-style: solid solid solid solid;
    border-color: #212121;
    font-family: 'Fira Code', monospace;
    color: #dadada;
    font-weight: 600;
}

.small-box-icon {
    background-color: #212121;
    color: #dadada;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .3rem;
    padding-bottom: .1rem;
    border-radius: .5rem;
    border-width: .1rem;
    border-style: solid solid solid solid;
    border-color: #212121;
    font-size: 1.2rem;
    display: inline-block;
}

.color-red {
    color: #ec8166;
}

#heart-red {
    display: none;
}

.small-box-icon:hover {
    cursor: pointer;
}

.large-box-icon:hover {
    border-color: #dadada;
    background-color: #212121;
    cursor: pointer;
    border-style: dotted;
}

#large-box-headertext {
    margin-left: .5rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: .5rem;
}

.entry {
    padding: .2rem;
}

#entry01 {
    margin-bottom: .4rem;
}

.entry:hover {
    background-color: #212121;
    color: #dadada;
    cursor: pointer;
    padding: .2rem;
    border-radius: .5rem;
    padding-left: .5rem;
}

#bottom-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 14rem;
    column-gap: 1rem;
    margin-top: 3rem;
}

.content-box {
    display: block;
    border-color: #212121;
    border-width: .3rem;
    border-style: solid;
    border-radius: .5rem;
}

#bottomBox01 {
    background-image: url("../redesign02/images/minigraphic.png");
    background-position: center;
    background-size: 15rem;
}

#bottomBox02 {
    background-image: url("../redesign02/images/minigraphic2.png");
    background-position: center;
    background-size: 15rem;
}

#bottomBox03 {
    background-image: url("../redesign02/images/minigraphic03.png");
    background-position: center;
    background-size: 15rem;
}

#buttons-grid {
    display: grid;
    grid-template-columns: 7rem 7rem;
    grid-template-rows: 4rem;
    column-gap: 1rem;
    align-self: flex-end;
    margin-top: 1rem;
}

.button {
    display: block;
    border-width: .3rem;
    border-color: #212121;
    border-style: solid;
    border-radius: .5rem;
}

.button:hover {
    border-width: .4rem .4rem .3rem .3rem ;
}

/* LINKS -----------------------------*/

.no-post-yet {
    color: #c54424;
}

a {
    color: #212121;
}

a:link {
    text-decoration: none;
    color: #212121;
  }
  
  a:visited {
    text-decoration: none;
    color: #212121;
  }

  a:hover {
    text-decoration: none;
    color: #212121;
  }
  
  a:active {
    text-decoration: none;
    color: #212121;
  }

