
html {
    scrollbar-width: thin;
    overflow: hidden;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
}

#page-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-items: center;
    align-content: center; 
    align-self: center;
   
}

#colorBlock-flexbox {
    background-color: rgb(21, 21, 21);
    height: .5rem;
}

#colorBlock-flexbox2 {
    background-color: rgb(218, 218, 218);
    height: .5rem;
    top: 0;
    position: sticky;
    z-index: 1;
}

#titleBar-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-text {
    margin-top: 1rem;
    color:rgb(21, 21, 21);
    font-family: 'Yuji Boku', serif;
    text-align: center;
    letter-spacing: .5rem;
    font-size: 1.5rem;
}

#header-flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#gallery-flexbox {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    width: 100%;
}

#link-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin-right: 2rem;
    padding-top: 3rem;
    position: sticky;
    top: 0;
    color:rgb(21, 21, 21);
    font-family: 'Yuji Boku', serif;
    text-align: left;
}

.main-link > a:hover {
    color:rgb(108, 108, 108)
}

/*links*/

a:link {
    color: rgb(45, 45, 45);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(45, 45, 45);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: rgb(45, 45, 45);
    background-color: transparent;
  }

/*LIGHTBOX*/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1; 
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }
  
  .modal-content {
    margin: auto ;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  .image-nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .arrow-button {
    color: white;
    font-size: 35px;
    margin: 20px;
    cursor: pointer;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
/*END OF LIGHTBOX*/

body {
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(218, 218, 218);
    }
h1 {
    font-family: 'Dotgothic16', cursive;
    text-align: right;
     color: rgba(244, 238, 255, 0.838);
     font-size: 3.5rem;
     margin-top: 1rem;
     padding-top: 1rem; 
     margin-right: 5rem;
     letter-spacing: .1rem;
     text-shadow: 1px 1px 1px #758980e7;
}

.no-Ls {
    letter-spacing: -.3rem;
}

@media (max-width: 500px) {
    h1 {
        margin: auto;
    }
}


/*PHOTO GRID*/
.photo-grid {
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-rows: auto;
    align-content: center;
    overflow: hidden;
    margin-top: 2rem;
    max-width: fit-content;
    border-left-width: .4rem;
    border-left-color: black;
    border-left-style: solid;
    padding: .5rem;
    padding-left: 2.5rem;
    text-align: left;
    margin-bottom: 4rem;
    }
    
.photo-grid > img {
    width: 23rem;
    padding: .5rem;
    padding-bottom: .8rem;
    opacity: 85%;
}
.photo-grid > img:hover {
    opacity: 100%;
}

/*img desc*/

#imgDesc-flexbox {
    color: rgb(45, 45, 45);
    font-family: 'Yuji Boku', serif;
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.contentDesc-title {
    font-weight: 600;
}

.contentDesc-text {
    font-weight: 400;
    font-size: 1.1rem;
}

@media (max-width: 882px) {
    .photo-grid {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto;
        align-content: center;
        overflow: hidden;
        margin: 1rem;
        }
    .photo-grid > img {
        width: 20rem;
        padding: .5rem;
    
    }

    #link-grid {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media (max-width: 727px) {
    .photo-grid {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto;
        align-content: center;
        overflow: hidden;
        margin: 1rem;
        }
    .photo-grid > img {
        width: 15rem;
        padding: .5rem;
    
    }

    #link-grid {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media (max-width: 676px) {
    .photo-grid {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto;
        place-items: center;
        align-content: center;
        overflow: hidden;
        margin: 1rem;
        margin-left: 0rem;
        padding-left: 1rem;
        }
    .photo-grid > img {
        width: 23rem;
        padding: .5rem;
    
    }

    #link-grid {
        margin-left: .5rem;
        margin-right: .5rem;
        font-size: .9rem;
        padding-top: 1rem;
        position: relative;
    }

    #gallery-flexbox {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        width: 100%;
    }

    .photo-grid {
        padding-top: 0;
    }
}

@media (max-width: 500px) {
    .photo-grid {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto;
        place-items: center;
        align-content: center;
        overflow: hidden;
        margin: 1rem;
        }
    .photo-grid > img {
        width: 17rem;
        padding: .5rem;
    
    }

    #link-grid {
        margin-left: .5rem;
        margin-right: .5rem;
        font-size: .9rem;
        padding-top: 1rem;
        position: relative;
    }

    #gallery-flexbox {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        width: 100%;
    }

    .photo-grid {
        padding-top: 0;
    }
}


@media (max-width: 341px) {
    .photo-grid {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto;
        place-items: center;
        align-content: center;
        overflow: hidden;
        margin: .5rem;
        }
    .photo-grid > img {
        width: 14rem;
        padding: .5rem;
    
    }

    #link-grid {
        margin-left: .5rem;
        margin-right: .5rem;
        font-size: .9rem;
        padding-top: 1rem;
        position: relative;
    }

    #gallery-flexbox {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        width: 100%;
    }

    .photo-grid {
        padding-top: 0;
    }
}
