
html { 
    scrollbar-width: none;
}
    
body {
    /*background-image: linear-gradient(#bac9da, #bad9da);*/
    background-color: rgb(218, 218, 218);
    margin: 0;
    padding: 0;
}

#page-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

#titleBar-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuteText {
    font-size: 1rem;
    margin-top: .5rem;
    letter-spacing: .1rem;
}

.color-green {
    color: #6ab16a;
}

.color-blue {
    color:#4793a8
}

.color-orange {
    color:#e37052;
}

.color-pink {
    color: #c5608a;
}


/*#pageContent-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}*/

#pageContent-grid {
    display: grid;
    grid-template-columns: 20% 35% 35%;
    grid-template-rows: 40rem;
    margin-top: 3rem;
}
/*gallery grid*/
#pageContent-grid2 {
    display: grid;
    grid-template-columns: 25% 45% 30%;
    grid-template-rows: auto;
    margin-top: 3rem;
}

#middlePage-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
}

/* I N T E R A C T I V E     C O N T E N T */

#interactiveSpace-flexbox{
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    justify-content: end;
}

.interactiveImage-large {
    width: 23rem;
    height: auto;
}

#textPopupContainer-grid {
    display: grid;
    grid-template-columns: 23rem;
    grid-template-rows: auto;
    margin-left: 6rem;
    font-family: 'Yuji Boku', serif;
    font-family: 'Darumadrop One', cursive;
}

#popupWindow-grid {
    display: grid;
    grid-template-columns: 23rem ;
    grid-template-rows: 1rem 6rem 1rem;
    width: 23rem;
    height: 8rem;
    transition: 1s;
}

.popupLayer-grid {
    display: grid;
    grid-template-columns: 1rem 21rem 1rem;
    grid-template-rows: 1rem auto 1rem;
    grid-row: 2;
}

.accentBorder {
    font-size: 1rem;
}

#borderTop {
    grid-row: 1;
}

#borderBottom {
    grid-row: 3;
}

#borderLeft {
    grid-column: 1;
    grid-row: 1 / 3;
    line-height: .9rem;
}

#borderRight{
    grid-column: 3;
    grid-row: 1 / 3;
    line-height: .9rem;
}

.popupText {
    grid-column: 2;
    font-size: .9rem;
}

p {
    margin-left: .4rem;
    font-size: 1rem;
}

#popupButton-grids {
    display: grid;
    grid-template-columns: 9rem 9rem;
    grid-template-rows: 6rem;
    height: 6rem;
    width: 20rem;
    margin-left: 10rem;
    font-family: 'Darumadrop One', cursive;
    transition: 1s;
}

.popupButtons-grid {
    display: grid;
    grid-template-columns: 9rem 9rem;
    grid-template-rows: 6rem;
    height: 6rem;
    width: 20rem;
    margin-left: 10rem;
    font-family: 'Darumadrop One', cursive;
}

.button-grid {
    margin: 1.5rem;
    border: #212121;
    border-width: 2px;
    border-style:dotted;
}

.button-grid:hover {
    border-style: dashed;
}
/* P O P U P   T E X T */
#popupText01 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: block;
}

#popupTextC02 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: none;
}

#popupTextC03 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: none;
}

#popupTextC04 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: none;
}

#popupTextC05 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: none;
}

#popupTextC06 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: none;
}

#popupTextC07 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: none;
    margin-top: .5rem;
}

#popupTextC08 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: none;
}

#popupTextC09 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: none;
}

#popupTextC10 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: none;
}

#popupTextC11 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: none;
}

#popupTextC12 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: none;
    margin-left: 1rem;
    margin-top: .5rem;
}

#popupTextC13 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: none;
}

#popupTextC14 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: none;
}

#popupTextC15 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: none;
}

/*popup text deny option*/
#popupTextD03 {
    grid-column-start: 2;
    grid-column-end: 2;
    display: none;
}

/* P O P U P   B U T T O N S */

.button-grid:hover {
    cursor: pointer;
}

#popupSet01alt {
    display: none;
}

#popupSetC02 {
    display: none;
}

#popupSetC03 {
    display: none;
}

#popupSetC04 {
    display: none;
}

#popupSetC05 {
    display: none;
}

#popupSetC06 {
    display: none;
}

#popupSetC07 {
    display: none;
}

#popupSetC08 {
    display: none;
}

#popupSetC09 {
    display: none;
}

#popupSetC10 {
    display: none;
}

#popupSetC11 {
    display: none;
}

#popupSetC12 {
    display: none;
}

#popupSetC13 {
    display: none;
}

#popupSetC14 {
    display: none;
}

#popupSetC15 {
    display: none;
}


/* f a d e*/

.fade-in { 
    animation: fadeIn 1s; 
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {opacity: 0; }
    100% {opacity: 1;}
}

/* A D V E R T I S E M E N T S --right-side ad space*/
#adSpace-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 17.7rem 17.7rem;
    justify-content: right;
    margin-right: 1.5rem;
}
/*individual ad item*/
.adSpace {
    display: grid;
    grid-template-columns: 13rem;
    grid-template-rows: 1.7rem 13rem;
    width: 13rem;
    height: 14.7rem;
    background-color: #d4cfc7;
    border-color: #98aaaf;
    border-style: solid;
}

#adSpace01 {
    grid-row: 1;
}

#adSpace02 {
    margin-top: 2rem;
    grid-row: 2;
}

/*ad-space action bar*/
.adSpace-header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: #98aaaf;
}
/* red 'x' button, should close individual ads*/
.adSpace-exitButton {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 5%;
    background-color: #e37052;
    margin: .25rem;
    align-content: center;
    text-align: center;
    font-size: .9rem;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
}



.adSpace-exitButton:hover {
    cursor: pointer;
    background-color: #ca583c;
}

/*advertisement image- actual img varies per ad*/
.adSpace-img {
    width: 13rem;
    height: 13rem;
    opacity: 100%;
}

.adSpace-img:hover {
    cursor: pointer;
    opacity: 85%;
}


/*black bar at top of page*/
#colorBlock-flexbox {
    background-color: rgb(21, 21, 21);
    height: .5rem;
}


/* pfp drawing*/
.main-image  {
    max-width: 21rem;
}

/* MAIN LINKS*/
.main-link {
    color: rgb(45, 45, 45);
    font-family: 'Yuji Boku', serif;
    font-size: 1.5rem;
}

#home-link:hover a {
    color:rgb(108, 108, 108);
}

.main-link:hover {
    color: rgb(108, 108, 108);
    cursor: pointer;
}

#mainLink-grid {
    margin-top: 3rem;
}


/* MAIN page title text*/
.title-text {
    margin-top: 1rem;
    color:rgb(21, 21, 21);
    font-family: 'Yuji Boku', serif;
    text-align: center;
    letter-spacing: .5rem;
    font-size: 2rem;
}

/*links*/

 a:link {
    color: rgb(45, 45, 45);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(45, 45, 45);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(108, 108, 108);;
    background-color: transparent;
  }
  
  a:active {
    color: rgb(45, 45, 45);
    background-color: transparent;
  }

  #mobile-page-grid {
    display: none;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

/*M O B I L E -------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

#mobile-page-grid {
    display: none;
}

@media (max-width: 500px) {
 
    body {
        margin: 0;
        padding: 0;
        background-image: none;
        transition: 1s;
        overflow-x: none;
    }

    #page-grid {
        display: none;
    }

    #mobile-page-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        }   
}



#mobile-titleBar-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#mobile-pageContent-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

#mobile-pageContent-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.mobile-main-image  {
    max-width: 10rem;
    margin-left: -.7rem;
}

.mobile-main-link {
    color: rgb(45, 45, 45);
    font-family: 'Yuji Boku', serif;
    font-size: .9rem;
}

#mobile-home-link:hover a {
    color:rgb(108, 108, 108);
}

.mobile-main-link:hover {
    color: rgb(108, 108, 108);
    cursor: pointer;
}

#mobile-mainLink-grid {
    margin-top: 3rem;
}

.mobile-title-text {
    margin-top: 1rem;
    color:rgb(21, 21, 21);
    font-family: 'Yuji Boku', serif;
    text-align: center;
    letter-spacing: .5rem;
    font-size: 1.3rem;
}