h1 {
 text-align: center;
  color: red;
  font-size: 8rem;
  margin-top:4rem;
}

@media (max-width: 1050px) {
  h1 {
    font-size: 3rem;
  }
}
body {
  background-color: rgb(175, 181, 62);
  cursor:progress;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1 {
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% { color: rgb(255, 0, 0); }
  25% { color: rgb(255, 115, 0)}
  75% { color: rgb(170, 0, 255); }
  100% { color: rgb(255, 0, 0); }
}
p {
  color:rgb(205, 92, 0);
  font-weight: 900;
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}
#goats {
  border: 3rem coral;
  background-color: blue;
  color: rgb(255, 0, 0);
  display: inline-block;
  text-align: center;
  font-size: 16px;
  cursor:not-allowed;
}
#external {
  border-color: rgb(227, 238, 146);
  background-color: rgb(141, 141, 171);
  color: rgb(51, 33, 63);
  display: inline-block;
  text-align: center;
  font-size: 3rem;
  cursor:grabbing;
}
