h1 {
 text-align: center;
  color: red;
  font-size: 8rem;
  margin-top:4rem;
}

@media (max-width: 1050px) {
  h1 {
    font-size: 3rem;
  }
}
body {
  background-color: rgb(175, 181, 62);
  cursor:not-allowed;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1 {
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% { color: rgb(255, 0, 0); }
  50% { color: rgb(255, 115, 0)}
  100% { color: rgb(170, 0, 255); }
}
