body {
    background-color: rgb(175, 181, 62);
    cursor:none;
  }
  #canvas {
  margin: auto;
  margin-left: 20%;
  margin-top: 2rem;
  width: 40rem;
  }

  @media screen and (max-width: 700px) {
    #canvas{
        max-width: 20rem;
    }
  }
