body {
    margin: 0;
    padding: 0;
    background-color: #9d4481;
}

#page-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*added some space above this contentbox*/
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem 0 2rem;
}

#main-flex {
    max-width: 65rem;
}

#main-text {
    display: flex;
    flex-direction: column;
    float: right;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #fff7f7;
    font-size: 28px;
    letter-spacing: 2px;
    text-align: right;
    padding: 4px;
    margin-right: 10vw;
    background-color: #f59555;
    width: max-content;
    border-radius: 2px;
    float: right;
    border-width: 2px;
    border-color:darkblue;
    border-style: solid;
}

h1 > span {
    letter-spacing: normal;
    float:inline-end;
    font-size: 24px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: #dadada;
    font-size: 24px;
    padding: 1rem;
}

#scan-me {
    max-width: 28rem;
    height: auto;
    margin: 1rem;
}

#header-img {
    max-width: 90vw;
    min-width: 240px;
}

/* P A R T I C I P A T E   I N   T H I S   P R O J E C T*/
/* pdf downloads */
/*------------------------------------------*/
#more-info {
    /*position: fixed;*/
    position: relative;
    bottom: 1rem; 
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 1rem 0 1rem 0;
    z-index: 1;
    text-align: center;
}

/* M E D I A   Q U E R I E S */
/*-------------------------------------*/

@media (max-width: 700px) {
    #page-flex {
        max-width: 20rem;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        max-width: 80vw;
    }

    #scan-me {
        max-width: 25rem;
        padding: 1rem;
    }

    h1 {
        max-width: 70vw;
        font-size: 3.2rem;
        letter-spacing: .5rem;
    }

    p {
        font-size: 20px;
    }
}

@media (max-width: 500px) {

    #page-flex {
        max-width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }

    #scan-me {
        max-width: 20rem;
        padding: 1rem;
    }

    h1 {
        max-width: 70vw;
        font-size: 3rem;
        letter-spacing: .5rem;
    }
}

@media (max-width: 380px) {
    #scan-me {
        max-width: 15rem;
        padding: 1rem;
    }
}