body {
    background-color: #dadada;
    color: #212121;
    font-family: 'Bigshot One', cursive;
    margin: 0;
    padding: 0;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  -webkit-user-drag: none;
}

#titlebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-text {
    font-size: 7rem;
    margin-top: 1rem;
    margin-left: 3%;
    margin-right: 2%;
    letter-spacing: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.header-text {
    font-size: 1.4rem;
    font-family: 'Fira Code', monospace;
    margin-top: 2%;
    margin-left: 3%;
}

.oval-border {
    border-radius: 2rem;
    border-style: solid;
    border-width: .4rem;
    border-color: #212121;
}

#page-flexbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: left;
    max-width: 100rem;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}


#content-grid {
    display: grid;
    grid-template-columns: 65% 35%;
    width: 92%;
    height: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    grid-template-rows: auto;
    column-gap: 1rem;
}

#read-me {
    display: flex;
    flex-direction: row;
    height: 5rem;
}

#bottomRunner-flexbox {
    position: absolute;
    bottom: 0;
    width: 98%;
    align-self: center;
    height: 7%;
    background-color: #212121;
    margin-bottom: .5rem;
}