:root {
    --playlist-item-display-size: 22vw;
}

body {
    margin: 0;
    padding: 0;
    background-color: #060607;
    /*background-image: url(visuals/thunder-road.gif);*/
    /*background: url(visuals/cherries.gif);*/
    background-size: 40rem;
    text-align: right;
}

#page-flex {
    background: url(visuals/beach.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #060607;
    width: 95vw;
    height: 93vh;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

p {
    color: #dadada;
    padding: 0 10px 0 0;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-left: auto;
}

.container:hover > .game-text {
    display: block;
}

.game-text {
    display: none;
    color: #dadada;
    background-color: #060607;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.small {
    margin-left: 10rem;
}

/* add this class to items 
that should be automatically visible on page-load*/
.visible {
    display: block;
    margin-bottom: 10rem;
}

/* add this class to items that should be pushed
to the right of the page*/
.shift {
    margin-right: 0;
    margin-left: auto;
    max-width: 50rem;
}

/* C R A S H   G R A P H I C */
/*----------------------------------------------------*/
.graphic {
    position: fixed;
    /* FIX THIS LATER!!*/
    /* i want this to be just outside of view (but viewable
    when window is stretched) no-matter how wide 
    the user's screen is*/
    /* the line below obvs does not do this...*/
    left: 80rem;
}

/* L I N K S */
a:link {
    color: #dadada;
    text-decoration: none;
}

a:hover {
    color: #dadada;
    text-decoration: none;
}

a:active {
    color: #aa0505;
    text-decoration: underline;
}
a:visited {
    text-decoration: none;
}


/* M E D I A    Q U E R I E S */
/*----------------------------------------------------*/

@media (max-width: 1200px) {

  }
  

