:root {
    --playlist-item-display-size: 22vw;
}

body {
    margin: 0;
    padding: 0;
    background-color: #060607;
    /*background-image: url(visuals/thunder-road.gif);*/
    /*background: url(visuals/cherries.gif);*/
    background-size: 40rem;
    text-align: right;
}

#page-flex {
    background: url(visuals/smokebreak00.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #060607;
    width: 95vw;
    height: 93vh;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

p {
    color: #dadada;
    padding: 0 10px 0 0;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-left: auto;
}

.container:hover > .game-text {
    display: block;
}

.game-text {
    display: none;
    color: #dadada;
    background-color: #060607;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.game-text:hover {
    cursor: pointer;
}

.small {
    margin-left: 10rem;
}

.plain {
    position: absolute;
    display: block;
    background-color: none;
}

/* add this class to items 
that should be automatically visible on page-load*/
.visible {
    display: block;
    margin-bottom: 10rem;
}

/* add this class to items that should be pushed
to the right of the page*/
.shift {
    margin-right: 0;
    margin-left: auto;
    max-width: 50rem;
}

.gadget-img {
    max-width: 20rem;
    max-height: auto;
    padding: 1rem;
}

.window {
    right: 0;
    margin-left: auto;
    position: absolute;
}

.large-text {
    font-size: 1.3rem;
    margin-right: 40vw;
}

.larger-text {
    position: absolute;
    font-size: 3rem;
    top: 20vh;
    left: 65vw;
}

.music-note {
    position: absolute;
    font-size: 3rem;
    top: 29vh;
    left: 72vw;
}

.adjust {
    margin-right: 20vw;
}

/* H O V E R   T E X T*/
/*----------------------------------------------------*/
.quit {
    display: flex;
    flex-direction: row;
    text-justify: center;
    align-items: center;
}
#quit-text {
    display: none;
    padding: 0 1rem 0 1rem;
}

.quit:hover > #quit-text{
    display: block;
    font-size: medium;
}

#dont-quit-text {
    display: none;
    padding: 0 1rem 0 1rem;
}

.quit:hover > #dont-quit-text {
    display: block;
    font-size: medium;
}


/* L I N K S */
a:link {
    color: #dadada;
    text-decoration: none;
}

a:hover {
    color: #dadada;
    text-decoration: none;
}

a:active {
    color: #aa0505;
    text-decoration: underline;
}
a:visited {
    text-decoration: none;
}


/* M E D I A    Q U E R I E S */
/*----------------------------------------------------*/
