
/*M O B I L E -------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/


    #mobile-page-grid {
        display: none;
    }
    
    @media (max-width: 500px) {
     
        body {
            margin: 0;
            padding: 0;
            background-image: none;
            background-color: #a9bcb3;
            transition: 1s;
        }
    
        #page-grid {
            display: none;
        }
    
        #mobile-page-grid {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
        }
    
        h1 {
            font-family: 'DotGothic16', cursive;
            text-align: center;
            color: #42514a;
             font-size: 1.5rem;
             letter-spacing: .1rem;
             margin: 0;
        }
    
        .textWordC p {
            color: #c1cdc8;
            background-color: #aebbb528;
            padding: .2rem;
        }
    
        .mobileContent-flexbox {
            width: 100%;
            overflow: hidden;
        }
        
        .mobileContent-grid {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            margin-top: 1rem;
            margin-left: 1%;
            margin-right: 1%;
        }

        #bio {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            margin-top: 2rem;
            margin-left: 1rem;
            margin-right: 1rem;
            padding: 1.5rem;
            background-color: #42514a8f;
            border-radius: .4rem;
        }

        img {
            width: 5rem;
        }

        .left-align {
            float: left;
            margin-right: .7rem;
        }

        h2 {
            font-family: 'Space Mono';
            text-align: left;
             color: #3a443f;
             font-size: 1rem;
             margin:0;
             letter-spacing: -.03rem;
        }
        
    }
    
    
    
    
    
    /*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
    .text-icon {
        text-align: left;
        padding-left: 2rem;
        padding-top: .9rem;
        padding-bottom: .9rem;
        font-size: 1.3rem;
    }
    
    
    
    .mobile-image-container {
        margin-left: 4%;
        margin-right: 4%;
        max-height: 30rem;
        margin-top: 1rem;
        overflow: hidden;
        overflow-y: scroll;
    }
    
    /*N A V B A R*/
    
    #mobile-navbar-flexbox {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    #mobile-navbarLink-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        width: 100%;
        /*--content--*/
        text-decoration: none;
        font-family: 'Dotgothic16';
        background-color: #758980e7;
        font-size: 1.5rem;
        text-align: center;
        transition: 0.7s;
        cursor: pointer;
        overflow-wrap: normal;
    }
    
    #mobile-navbarLink-grid a:hover {
        background-color: #a4b5ade7;
        color: #42514a;
        text-decoration: none;
        transition: .1s;
    }
    
    .arrow {
        color: #758980e7;
    }
    
    #mobile-navbarLink-grid a {
        text-decoration: none;
        color: #ECE0E7;
        white-space: nowrap;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        transition: .1s;
    }
    
    
    /*DROPDOWN BAR---------------------------------------------------------------------------*/
    
    /* Dropdown Button */
    .mobile-dropbtn {
        display: block;
        background: none;
        border: none;
        color: #ECE0E7;
        width: 100%;
    }
        
    /* The container <div> - needed to position the dropdown content */
    .mobile-dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
    }
    
    /* Dropdown Content (Previously Hidden by Default) */
    #mobile-dropdown-content {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto;
        /*position: absolute;*/
        z-index: 1;
    }
    
    /* Links inside the dropdown */
    #mobile-dropdown-content a {
        color: rgba(183, 216, 207, 0.573);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    /* Change color of dropdown links on hover */
    #mobile-dropdown-content a:hover {
        background-color: rgba(221, 221, 221, 0.505);
    }
    
    
        .mobile-dropdown:hover #mobile-dropdown-content {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto;
        }

        #mobile-dropdown-content {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto;
        }

        .mobile-dropbtn {
            display: block;
        }
        #mobile-dropdown-content {
            display: none;
        }
        .mobile-dropdown {
            width: 100%;
        }
        /*set/replace #[title]-link to current page title*/
        #about-link {
            display: none;
        }
        #mobile-navbarLink-grid {
        font-size: 1rem;
        }
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .mobile-dropdown:hover .mobile-dropbtn {
        background-color: none;
    }

    .visible {
        color: #42514aca;
    }