body {
    background-image: url("blue.jpg");
    background-size: cover;
    }
h1 {
    font-family: 'Rubik Spray Paint', cursive;
    text-align: center;
     color: rgba(244, 238, 255, 0.548);
     font-size: 3.5rem;
     margin-top: 1rem;
     padding-top: 1rem;
}
@media (max-width: 800px) {
    h1 {
        font-size: 2rem;
    }
    .home-stage {
        margin-top: 10rem;
    }
   }
 /* Dropdown Button */
 .dropbtn {
    background: none;
    padding: 16px;
      font-size: 16px;
      border: none;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
    display: none;
      position: absolute;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      font-family: 'Rubik Spray Paint', cursive;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
    color: rgba(80, 101, 95, 0.486);
    padding: 12px 16px;
    text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: rgba(221, 221, 221, 0.897);}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display:grid;
        grid-template-columns: 5rem;
    }
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: none;} 
#Home:hover {
    cursor: pointer;
}
/*GRIDS!!!!*/
.head-grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto ;
    align-items: center;
    padding-top: 3rem;        
    padding-left: 3%;
    padding-right: 4%;
    margin-top: .5rem;
    }
      
.head-grid-item {
    background-color: rgba(148, 148, 148, 0);
     padding: .6rem;
     text-align: center;
     }
.home-stage {
    display: grid;
    grid-template-columns: 20rem auto ;
    column-gap: 2rem;
    margin-left: 5rem;
    margin-right: 7rem;
}
.home-stage-content {
    text-align: center;
    color: rgba(247, 243, 255, 0.548);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.35);
    max-height: 20rem;
    overflow: hidden;
    overflow-y: auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.home-stage-content:-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.home-stage-content {
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
}
h3 {
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  background-color: rgba(231, 245, 253, 0.15);
  text-align: left;
  padding: 1rem;
}
.photo {
    max-height: 20rem;
    width: 10rem;

}
.hoverable-link:hover {
    color: rgba(201, 202, 182, 0.89);
    cursor: pointer;
}
