/*F U L L   P A G E*/
html {
    scrollbar-width: none;
}

body {
    background-image: url("../portfolio/images/blue.jpg");
    background-size: cover;
    background-color: #a9bcb3;
    transition: 1s;
    }

#page-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin-left: 6.5%;
    margin-right: 8.9%;
}

/*P A G E    C O N T E N T*/

/*CAPTAIN'S LOG*/

#captains-log-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#captains-log {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding: 0rem;
    margin: 0rem;
    height: 20rem;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /*background-color: rgba(231, 245, 253, 0.15);*/
    transition: 1s;
}

#captains-log > h2 {
    background-color: #758980e7;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
    color: rgba(247, 243, 255, 0.548);
    margin: 0;
    width: 20rem;
    padding-top: 1rem;
    padding-bottom: .6rem;
    text-align: center;
    position: absolute;
}

h3 {
    font-family: 'Space Mono';
    color: rgba(247, 243, 255, 0.548);
    
    margin-top: 3.7rem;
}


h3 {
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    background-color: rgba(223, 244, 253, 0.176);
    text-align: left;
    padding: 1rem;
}

h3 > a {
    color: rgba(247, 243, 255, 0.548);
    text-decoration: none;
}
.photo {
    max-height: 20rem;
    width: 10rem;

}
.hoverable-link:hover {
    color: rgba(201, 202, 182, 0.89);
    cursor: pointer;
}
