/* heading1*/
h1 {
    text-align: center;
     color: rgb(0, 0, 0);
     font-size: 3.5rem;
     margin-top:1rem;
     font-family: 'Rubik Glitch', cursive;
     padding-top: 1rem;
   }
   @media (max-width: 800px) {
    h1 {
        font-size: 3rem;
    }
   }
   @media (max-width: 600px) {
     h1 {
       font-size: 2rem;
     }

   }
   h1 {
     animation: color-change 5s infinite;
   }
   @keyframes color-change {
     0% { color: rgb(255, 0, 0); }
     25% { color: rgb(255, 115, 0)}
     75% { color: rgb(170, 0, 255); }
     100% { color: rgb(255, 0, 0); }
   }
/*Body*/
body {
    background-color: black;
}
/*this doesn't work rn. was linked to Home icon*/
    .hoverable {
        transition: transform .7s ease-in-out;
    }
        .hoverable:hover {
            transform: rotate(360deg);
            cursor:pointer;
            fill: aqua;
        }

      /* Hang */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
  
}
/*GRID!!!!*/
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 5rem auto auto;
        background-color: #000000;           
        padding: 1.5rem;
        align-items: center;
        }
          
    .grid-item {
        background-color: rgba(0, 0, 0, 0);
         border: 1px solid rgba(0, 0, 0, 0.8);
         padding: 1.5rem;
         text-align: center;
         }
     #Trash:hover {
       cursor:pointer;
       fill: #FF55ED; 
      }
     #Home:hover {
      cursor:pointer;
       fill: aqua; 
     }